*,
*:after,
*:before {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    font-size: 16px;
}
/* welcome section styles starts*/
.welcom-heading {
    border: 0;
    margin: 0;
    color: white;
    background: black;
    opacity: 0.7;
}
.welcome-screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/default_bg.jpg);
    background-size: cover;

}
div.welcome-input,
div.welcome-input{
    padding-right:8px;
    margin-top: 5px;
}
#name-input,
button{
    border-radius: 5px;
}
.error{
    border:2px solid red;
}
/* welcome section styles ends*/

/* playlist section styles starts*/
/*header*/
.hidden {
    display: none;
}
.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.display-user-name {
    height: 80px;
    background-color: #282828;
    padding: 1rem;
    color: #FFF;
}
#virtual-keyboard-btn,#return-playlist-btn{
    color:deeppink;
    font-weight: bolder;
    border-radius: 5px;
}
#virtual-keyboard-btn:hover,#return-playlist-btn:hover{
    background-color: deepskyblue;
}
/*content*/
.content {
    height: 100%;
    background-color: #1f1f1f;
}
.add-gif{
    background-image: url(../../images/source.gif);
    background-size: 100% 150%;
}
.table-responsive{
    margin-top: 15px;
    color: aliceblue;
    font-weight: bolder;
}
tr:hover{
    color: black;
}
tr.song-list-header{
    color: white;
    background-color: black;
    opacity: 0.7;
}
.active{
    background-color: white;
    color: black;
    opacity: 0.7;
}
.song{
    cursor: pointer;
}
input[aria-controls="song-playlist"]{
    color: black;
    margin-left: 10px;
}
/* current song details section */
.song-details-section{
    height: 260px;
    background-color:#1f1f1f;
}
.current-song-image{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-left: 2px solid black;
    background-color: white;
}
div.col-md-4.song-details{
    background-color: white;
    color: black;   
    font-weight: bolder;
}
#current-song-image{
    border: 2px solid white;
}
.song-details,
.current-song-image{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.song-details{
    border-right: 2px solid black;
}
div.col-md-12.current-song-name,
div.col-md-12.current-song-artist,
.song-play-pannel{
    text-align: center;
    margin-top: 23px;
}

/*footer*/
.footer {
    height: 80px;
    background-color:#1f1f1f;
    padding-top: 1rem;
}
.controls {
    display:flex;
    justify-content: center;
    font-size: 2rem;
}
.clickable {
    cursor: pointer;
    color: teal;
    margin-left: 50px;
}
.fa-random,
.fa-repeat{
    color: limegreen;
}
.progress-wrapper {
    text-align: center;
}
.time-elapsed{
    text-align: right;
}
.song-duration{
    text-align: left;
}
.progress-wrapper div.col-sm-3 {
    color: #959595;
}
#song-progress-bar{
    height: 8px;
    width: 100%;
    background-color: #3d3d3d;
}
.disabled{
    color: grey;
}
/* playlist section styles ends*/
/* keyboard section styles starts*/
.container{
    width: 100%;
    height: 100%;
}
.display-user-name{
    overflow: hidden;
}
.keyboard-keys tr:hover{
            background-color: white;
        }
.keyboard-keys td{
    text-align: center;
    color: black;
}
.keyboard-keys button{
    width: 90px;
    height: 80px;
}
.keyboard-keys button:hover{
    background-color: yellow;
}
.pressed-key{
    background-color: yellow;
}
.keyboard-section-header{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}
/* keyboard section styles ends*/        