*,
*:after,
*:before {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    font-size: 16px;
}
/* welcome section styles starts*/
.welcom-heading {
    border: 0;
    margin: 0;
    color: white;
    background: black;
    opacity: 0.7;
}
.container {
    height: 100%;
    width: 100%;
}
.welcome-screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/default_bg.jpg);
    background-size: cover;

}
div.welcome-input,
div.welcome-input{
    padding-right:8px;
    margin-top: 5px;
}
#name-input,
button{
    border-radius: 10%;
}
.error{
    border:2px solid red;
}
/* welcome section styles ends*/

/* playlist section styles starts*/
/*header*/
.hidden {
    display: none;
}
.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.display-user-name {
    height: 80px;
    background-color: #282828;
    padding: 1rem;
    color: #FFF;
}
audio{
    opacity: 0.3;
}
/*content*/
.content {
    flex:1;
    background-color: #1f1f1f;
}
.add-gif{
    background-image: url(../../images/source.gif);
    background-size: cover;
    background-position: bottom;
}
.table-responsive{
    margin-top: 15px;
    color: aliceblue;
    font-weight: bolder;
}
tr:hover{
    color: black;
    background-color: aqua;
}
tr.song-list-header{
    color: white;
    background-color: black;
    opacity: 0.7;
}
.active{
    background-color: white;
    color: black;
    opacity: 0.7;
}
.song{
    cursor: pointer;
}
/*footer*/
.footer {
    height: 80px;
    background-color:#282828;
    padding-top: 1rem;
}
.controls {
    display:flex;
    justify-content: center;
    font-size: 2rem;
}
.clickable {
    cursor: pointer;
}
#play-icon {
    color: teal;
}
.song-play-pannel{
    text-align: center;
}
.progress-wrapper {
    text-align: center;
}
.time-elapsed{
    text-align: right;
}
.song-duration{
    text-align: left;
}
.progress-wrapper div.col-sm-3 {
    color: #959595;
}
#song-progress-bar{
    height: 8px;
    width: 100%;
    background-color: #3d3d3d;
}
/* playlist section styles ends*/
